name: Test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Tests on ${{ matrix.pyver }}
    strategy:
      fail-fast: false
      matrix:
        pyver:
          - '2.7'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - 'pypy-3.8'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyver }}
          architecture: x64
      - name: Install Dependencies
        run: python -m pip install --upgrade geojson coveralls pytest pytest-cov
      - name: Install
        run: python -m pip install -e .
      - name: Test
        run: pytest . --cov=motionless --cov-report term-missing
      - name: Upload Coverage
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
          COVERALLS_SERVICE_NAME: github
          COVERALLS_PARALLEL: true
        run: coveralls
  finish-coveralls:
    name: Coveralls Finished
    needs: test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: x64
      - name: Install coveralls
        run: python -m pip install --upgrade coveralls
      - name: Coveralls Finished
        env:
          GITHUB_TOKEN: ${{ github.token }}
          COVERALLS_SERVICE_NAME: github
        run: coveralls --finish
